*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#0f172a;
    color:white;
}

main{
    min-height:100vh;
}

/* accounts */

/* .auth-box{
    width:350px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.auth-box input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.profile-box{
    text-align:center;
    padding:50px;
} */